[submodule "sonic-linux-kernel"]
	path = src/sonic-linux-kernel
	url = https://github.com/canonical/sonic-linux-kernel
[submodule "src/sonic-utilities"]
	path = src/sonic-utilities
	url = https://github.com/canonical/sonic-utilities
[submodule "src/sonic-platform-common"]
	path = src/sonic-platform-common
	url = https://github.com/canonical/sonic-platform-common
[submodule "src/sonic-platform-daemons"]
	path = src/sonic-platform-daemons
	url = https://github.com/sonic-net/sonic-platform-daemons
[submodule "platform/mellanox/hw-management/hw-mgmt"]
	path = platform/mellanox/hw-management/hw-mgmt
	url = https://github.com/Mellanox/hw-mgmt
[submodule "src/sonic-mgmt-framework"]
	path = src/sonic-mgmt-framework
	url = https://github.com/canonical/sonic-mgmt-framework
[submodule "src/sonic-mgmt-common"]
	path = src/sonic-mgmt-common
	url = https://github.com/canonical/sonic-mgmt-common.git
[submodule "platform/broadcom/saibcm-modules-dnx"]
	path = platform/broadcom/saibcm-modules-dnx
	url = https://github.com/canonical/saibcm-modules.git
	branch = sdk-6.5.29-master_2
[submodule "platform/marvell/mrvl-prestera"]
	path = platform/marvell/mrvl-prestera
	url = https://github.com/Marvell-switching/mrvl-prestera.git
[submodule "platform/marvell/sonic-platform-marvell"]
	path = platform/marvell/sonic-platform-marvell
	url = https://github.com/Marvell-switching/sonic-platform-arm64.git
[submodule "platform/innovium/sonic-platform-marvell"]
	path = platform/innovium/sonic-platform-marvell
	url = https://github.com/Marvell-switching/sonic-platform-marvell
